@page
@model Dfe.Academies.External.Web.Pages.School.ApplicationPreOpeningSupportGrantModel
@{
    ViewData["Title"] = "Apply to become an academy - pre-opening support grant";
}

@section BeforeMain
{
    <a asp-page="ApplicationPreOpeningSupportGrantSummary" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">Back to pre-opening support grant summary</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
		Future pupil numbers
	</h1>

	<form method="post" name="frmPupilNumbers" novalidate="">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>		
		<partial name="_HiddenFields"/>
			// TODO MR:-
		<br/>
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>