@page
@model ApplicationSelectSchoolModel
@{
	ViewData["Title"] = "Apply to become an academy - School Details";
}

@section BeforeMain
{
	<a asp-page="YourApplications" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
	<div id="divApplyingToDo" class="govuk-form-group">
		<form method="post" id="search-form" novalidate>
			<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
				<h2 class="govuk-heading-m">School details</h2>
				<fieldset class="govuk-fieldset" data-required data-error="Search cannot be blank" aria-required="true">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h2 class="govuk-fieldset__heading govuk-heading-m">
							What is the name of the school?
						</h2>
					</legend>

					<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
						<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
					</div>

					<div class="govuk-form-group">
						<label class="govuk-hint" for="schoolSelect">Enter the name of the school, or its 6 digit unique reference number (URN) </label>
						<input type="text" id="searchQuery" asp-for="SearchQuery" class="hideElement" maxlength="100"/>

						<div class="govuk-!-margin-6"></div>
						<select id="schoolSelect" name="schoolSelect" class="govuk-select"></select>
						<div id="schoolSelectedDetails" class="hideElement"></div>
						<div id="confirm-school-checkbox" class="govuk-checkboxes" data-module="govuk-checkboxes">
							<div class="govuk-checkboxes__item">
								<input type='checkbox' id='confirm-school-cb' name='cb'
								       asp-for="CorrectSchoolConfirmation"
								       class='hideElement govuk-checkboxes__input'>
								<label id='confirm-school-label' class='hideElement govuk-label govuk-checkboxes__label' for='confirm-school-cb'>
									I confirm that this is the correct school
								</label>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<br/>
			<input type="submit" value="Save and continue" id="btnAdd" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
		</form>
	</div>
</div>

@section Scripts {
	<script src="/js/a2c.schoolsearch.js"></script>
}
