@page
@model Dfe.Academies.External.Web.Pages.School.ApplicationSchoolConsultationModel
@{
	ViewData["Title"] = "Apply to become an academy - Consultation";
}

@section BeforeMain
{
	<a asp-page="../ApplicationOverview" class="govuk-back-link">Back to application overview</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
		Consultation
	</h1>
	
	// TODO MR:- sections

	<a asp-page="../ApplicationOverview" class="govuk-button" data-module="govuk-button">Save and return to your application</a>
</div>
<input type="hidden" asp-for="Urn" />
<partial name="_HiddenFields" />