@page
@using Dfe.Academies.External.Web.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.SchoolConversionKeyDetailsModel
@{
	ViewData["Title"] = "Apply to become an academy - About the conversion";
}

@section BeforeMain
{
	<a asp-page="../ApplicationOverview" class="govuk-back-link">Back to application overview</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
		Future pupil numbers
	</h1>
	
	TODO:- Q && A's'

	<a asp-page="SchoolOverview" class="govuk-button" data-module="govuk-button">Save and return to your application</a>
</div>
<input type="hidden" asp-for="Urn" />
<partial name="_HiddenFields" />
