@model List<Dfe.Academies.External.Web.ViewModels.ApplicationComponentViewModel>

@*    
    Helper func to spit out the class name?    
    govuk-tag = completed background colour
    govuk-tag--blue = in progress
    govuk-tag--grey = not started
    govuk-tag--grey = cannot start yet
*@

<table class="govuk-table">
    <tbody class="govuk-table__body">
    @foreach (var component in Model)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <a href="@component.URI" aria-describedby="component-@(component.Name)-status" class="govuk-link">
                    @component.Name
                </a>
            </td>
            <td class="govuk-table__cell govuk-text-align-right">
                <strong class="govuk-tag app-task-list__tag govuk-tag--grey govuk-text-align-right" id="component-@(component.Name)-status">
                    Not started
                </strong>
            </td>
        </tr>
    }
    </tbody>
</table>  
