@model List<Dfe.Academies.External.Web.ViewModels.ApplicationComponentViewModel>

@*    
    Helper func to spit out the class name?    
    govuk-tag = completed background colour
    govuk-tag--blue = in progress
    govuk-tag--grey = not started
    govuk-tag--grey = cannot start yet
*@

<ol id="application-components-status" class="app-task-list">
    <li>
        <ul class="app-task-list__items">
            @foreach (var component in Model)
            {
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="@component.URI" aria-describedby="component-@(component.Name)-status">
                            @component.Name
                        </a>
                    </span>
                    <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="component-@(component.Name)-status">
                        Not started
                    </strong>
                </li>
            }
        </ul>
    </li>
</ol>
