@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Dfe.Academies.External.Web.ViewModels.ConversionApplicationContributorViewModel>

<h3 class="govuk-heading-xl">Contributors</h3>
<span>You can invite other people to help you complete parts of this form</span>

<a asp-page="NewApplicationContributor" class="govuk-back-link">Invite a contributor</a>

@if (Model.Count > 0)
{
    // convert to a table as we have a TH

    <div class="">
        <ul class="app-task-list__items">
            @foreach (var contributor in Model)
            {
                <li class="app-task-list__item">
                    <strong class="">@contributor.Name</strong>
                    <span class="app-task-list__task-name">@contributor.Role</span>
                </li>
            }
        </ul>
    </div>
}