@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Dfe.Academies.External.Web.ViewModels.ConversionApplicationContributorViewModel>

@{
	string currentUserEmail = User.FindFirst(ClaimTypes.Email)?.Value ?? string.Empty;
}

@if (Model.Count > 0)
{
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
	            <th scope="col" class="govuk-table__header">Role</th>
	            <th scope="col" class="govuk-table__header">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach(var contributor in Model)
            {
                <tr class="govuk-table__row">  
                    <th scope="row" class="govuk-table__cell">@contributor.FullName</th>
	                <td class="govuk-table__cell">@contributor.RoleName</td>
	                <td class="govuk-table__cell">
                        @if (!string.Equals(currentUserEmail.Trim().ToLower(), contributor.EmailAddress.Trim().ToLower(), StringComparison.Ordinal))
                        {
	                        <a asp-page="RemoveAContributorConfirmation" asp-route-appId="@contributor.ApplicationId"
	                           asp-route-contributorId="@contributor.ContributorId"
	                           class="govuk-link">Remove contributor</a>
                        }
	                </td>
                </tr>
            }        
        </tbody>
    </table>
}