@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Http

@{
	var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
	var showBanner = !(consentFeature?.CanTrack ?? false) && Context.Session.GetInt32("cookiesRejected") != 1;
}
@if (showBanner)
{
	<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on Apply to become an Academy">
		<div class="govuk-cookie-banner__message govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Apply to become an Academy</h2>

					<div class="govuk-cookie-banner__content">
						<p>We use some essential cookies to make this service work.</p>
						<p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
					</div>
				</div>
			</div>

			<div class="govuk-button-group">
				<form asp-controller="Cookies" asp-action="SetConsent">
					<input type="hidden" name="redirectPath" value="@Context.Request.Path">
					<button value="accept" type="submit" name="cookies" class="govuk-button" data-module="govuk-button">
						Accept analytics cookies
					</button>
					<button value="reject" type="submit" name="cookies" class="govuk-button" data-module="govuk-button">
						Reject analytics cookies
					</button>
				</form>
				<a class="govuk-link" asp-controller="Cookies" asp-action="Index">View cookies</a>
			</div>
		</div>
	</div>
}