<govuk-header home-page-url="https://gov.uk/" product-name="Apply to become an Academy" />

@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <div class="container body-content">
        <div class=" govuk-width-container govuk-phase-banner print-hide">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    <a class="govuk-link" asp-page="/Help/HowCanWeHelp" target="_blank">Get help or give feedback on this service (opens in a new tab)</a>
                </span>
            </p>
        </div>
    </div>
}