@inject IConfiguration _configuration

@{
    var notificationBannerMessage = _configuration["NotificationBannerMessage"] ?? string.Empty;
}

@if (!string.IsNullOrWhiteSpace(notificationBannerMessage))
{
    <govuk-notification-banner>
        <govuk-notification-banner-title heading-level="2" id="banner-title">
            Important
        </govuk-notification-banner-title>
        <p class="govuk-notification-banner__heading">
            @notificationBannerMessage
        </p>
    </govuk-notification-banner>
}
