@model Dfe.Academies.External.Web.ViewModels.SchoolQuestionAndAnswerViewModel

<tr class="govuk-table__row">
	<td class="govuk-table__cell">
		@Model.Name
	</td>
	<td class="govuk-table__cell">
		@Model.Answer
	</td>
</tr>