@model Dfe.Academies.External.Web.ViewModels.SchoolQuestionAndAnswerViewModel

<tr class="govuk-table__row">
	<td class="govuk-table__cell">
		<b>@Model.Name</b>
	</td>
	<td class="govuk-table__cell">
		@Model.Answer
		
		@if (Model.SubQuestionAndAnswers.Any())
		{
			<span>// TODO MR:- sub Q n A's</span>
		}
	</td>
</tr>