@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.Academies.External.Web.TagHelpers
@model Dfe.Academies.External.Web.ViewModels.SchoolComponentsViewModel

@foreach (var component in Model.SchoolComponents)
{
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<a asp-page="@component.URI" class="govuk-link govuk-body"
			   asp-route-appId="@Model.ApplicationId"
			   asp-route-urn="@Model.URN">
				@component.Name
			</a>
		</div>
		<div class="govuk-grid-column-one-third">
			@{
				var statusValue = (int)component.Status;
			}
			<status enumvalue=@statusValue></status>
		</div>
	</div>
	<hr/>
}