@page
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.Academies.External.Web
@using Dfe.Academies.External.Web.Enums
@model Dfe.Academies.External.Web.Pages.Help.HowCanWeHelpModel
@{
	ViewData["Title"] = "How Can We Help";
}


@section BeforeMain
	{
	<a asp-page="HowCanWeHelp" class="govuk-back-link">Back</a>
}

@*// Error messages partial - on layout page !!!*@
<div class="govuk-grid-column-two-thirds">
	<div id="divHowCanWeHelp" class="govuk-form-group">
		<form method="post" name="frmHelpType" novalidate="">
			<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
				<h1 class="govuk-heading-l">How Can We Help?</h1>
				<fieldset class="govuk-fieldset ">

					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel" />
					<div class="govuk-form-group">
						<div class="govuk-radios--conditional">
							@foreach (var HelpType in Enum.GetValues(typeof(HelpTypes)).OfType<HelpTypes>())
							{
								<div class="govuk-radios__item">
									<input type="radio" asp-for="HelpType" value="@Convert.ToInt32(HelpType)"
			                         class="govuk-radios__input" />
									<label class="govuk-label govuk-radios__label">@HelpType.GetDescription()</label>
								</div>
							}
						</div>
					</div>
	
				</fieldset>
			</div>
			<br />
				<legend class="govuk-fieldset__legend">Feedback is anonymous and will not affect your application</legend>
			<br />
			<button type="submit" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</button>
		</form>
	</div>
</div>
