@page
@model Dfe.Academies.External.Web.Pages.ApplicationOverviewModel
@{
    ViewData["Title"] = "Apply to become an academy - Overview";
}

@section BeforeMain
{
    <a asp-page="YourApplications" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">@Model.ApplicationTypeDescription</h1>

    <p class="govuk-body">
        <strong>Application reference number:</strong>&nbsp;&nbsp;@Model.ApplicationReferenceNumber
    </p>

    <p class="govuk-body govuk-radios__conditional">You must complete each section before you can submit your application.<br/>
        You can save your progress as you go.
    </p>

    TODO = heading below will need to flip between complete / incomplete
    <h2 class="govuk-heading-m">Application incomplete</h2>
    <p class="govuk-body">You have completed @Model.CompletedSections of @Model.TotalNumberOfSections sections.</p>

    <h2 class="govuk-heading-m">The school applying to convert</h2>
    TODO = TEXT | Change (Link)
    
    <div class="govuk-!-margin-6"></div>

    <partial name="_ApplicationComponentsStatusPartial" model="Model.Components"/>

    <h2 class="govuk-heading-m">The trust the school will join</h2>
    TODO = TEXT | Status

    <h2 class="govuk-heading-m">About the conversion</h2>
    TODO = TEXT | Status

    <h2 class="govuk-heading-m">Contributors</h2>
    <p class="govuk-body">You can invite other people to help you complete parts of this form</p>

    <a asp-page="NewApplicationContributor">Invite a contributor</a>
    <partial name="_ApplicationContributorsPartial" model="Model.Contributors"/>

    @if (!Model.DoesUserHaveSubmitRole)
    {
        @*TODO = grey bar at left*@
        <p class="govuk-body">Only the school's chair of governors can submit this application.</p>
    }

    buttons
</div>

<div class="govuk-grid-column-one-third">
    <partial name="_ApplicationAuditPartial" model="Model.Audits"/>
</div>
