@page
@model Dfe.Academies.External.Web.Pages.ApplicationOverviewModel
@{
    ViewData["Title"] = "Apply to become an academy - Overview";
}

@section BeforeMain
{
    <a asp-page="YourApplications" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">@Model.ApplicationTypeDescription</h1>

    <p class="govuk-body">
        <strong>Application reference number:</strong>&nbsp;&nbsp;@Model.ApplicationReferenceNumber
    </p>

    <p class="govuk-body govuk-radios__conditional">You must complete each section before you can submit your application.<br/>
        You can save your progress as you go.
    </p>

    TODO = heading below will need to flip between complete / incomplete
    <h2 class="govuk-heading-m">Application incomplete</h2>
    <p class="govuk-body">You have completed @Model.CompletedSections of @Model.TotalNumberOfSections sections.</p>

    <h2 class="govuk-heading-m">The school applying to convert</h2>
    TODO = TEXT | Change (Link)
    
    <div class="govuk-!-margin-6"></div>

    <partial name="_ApplicationComponentsStatusPartial" model="Model.Components"/>

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">The trust the school will join</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a asp-page="ApplicationSelectTrust">Name of the trust</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="trust-status">Not started</strong></td>
            </tr>
        </tbody>
    </table>       

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">About the conversion</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a asp-page="ApplicationDetails">Conversion details</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="conversion-status">Not started</strong></td>
            </tr>
        </tbody>
    </table>    

    <h2 class="govuk-heading-m">Contributors</h2>
    <p class="govuk-body">You can invite other people to help you complete parts of this form</p>

    <a asp-page="NewApplicationContributor">Invite a contributor</a>
    <partial name="_ApplicationContributorsPartial" model="Model.Contributors"/>

    @if (!Model.DoesUserHaveSubmitRole)
    {
        <p class="govuk-body govuk-radios__conditional">Only the school's chair of governors can submit this application.</p>
    }

    <div class="govuk-button-group">
        @if (Model.DoesUserHaveSubmitRole)
        {
            <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Review and Submit
            </button>
        }
        <a asp-page="YourApplications" class="govuk-button govuk-button--warning" data-module="govuk-button">Cancel this application</a>
    </div>
</div>

<div class="govuk-grid-column-one-third">
    <partial name="_ApplicationAuditPartial" model="Model.Audits"/>
</div>
