@page
@model Dfe.Academies.External.Web.Pages.ApplicationOverviewModel
@{
    ViewData["Title"] = "Apply to become an academy - Overview";
}

@section BeforeMain
{
    <a asp-page="YourApplications" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Join a multi-academy trust (TODO - text will change dependent on what selected earlier)</h1>
</div>

<div class="govuk-grid-column-one-third">
    <partial name="_ApplicationAuditPartial" model="Model.ApplicationAudits"/>
</div>
