@page
@model ApplicationSelectSchoolModel
@{
	ViewData["Title"] = "Apply to become an academy - School Details";
}

@section BeforeMain
{
	<a asp-page="YourApplications" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
	<div id="divApplyingToDo" class="govuk-form-group">
		<form method="post" name="frmApplicationType" novalidate="">
			<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
				<h2 class="govuk-heading-m">School details</h2>
				<h1 class="govuk-heading-l">What is the name of the school?</h1>
				<fieldset class="govuk-fieldset">
					<legend id="role-hint" class="govuk-fieldset__legend">?</legend>
					<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
						<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
					</div>

					<div class="govuk-form-group">
						<label class="govuk-label" for="orgSelect">Enter the name of the school, or its 6 digit unique reference number (URN) </label>
						<select id="orgSelect" name="orgSelect" class="govuk-select">
						</select>
						<div id="searchResults">
							<partial name="_SchoolDetails" model="Model.ViewModel.SelectedSchool"/>
						</div>
						<div id="confirm-school-checkbox" class='govuk-checkboxes__item'>
							<input id='confirm-school-cb' onchange="return toggleConfirmationCheckbox()" 
										name='cb' class='govuk-checkboxes__input' type='checkbox' value='{1}'>
							<label class='govuk-label govuk-checkboxes__label' for='confirm-school-cb'>
								I confirm that this is the correct school
							</label>
						</div>
						<input id='confirm-school' name='confirm-school' type='hidden' value='I confirm that this is the correct school'>
					</div>
				</fieldset>
			</div>
			<br/>
			<input type="submit" value="Continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
		</form>
	</div>
</div>
