@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
	<p class="govuk-body">Try again later.</p>
	<p class="govuk-body">An error occurred while processing your request.</p>

	@if (Model.ShowRequestId)
	{
		<p>
			<strong>Request ID:</strong> <code>@Model.RequestId</code>
		</p>
	}
</div>
