@page
@using Dfe.Academies.External.Web.FeatureManagement;
@inject IConversionGrantExpiryFeature ConversionGrantExpiryFeature;
@model IndexModel
@{
    ViewData["Title"] = "Home"; 
}

<div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-xl">
		Apply to become an Academy
	</h1>

	<p class="govuk-body-l">
		This form is for local authority maintained schools that want to become academies.
	</p>

	<p class="govuk-body-l">
		There is a separate process for:
	</p>

	<ul class="govuk-list govuk-list--bullet govuk-body-l">
		<li>
			<a class="govuk-link" href="https://www.gov.uk/government/publications/academy-conversion-application-forms" >special schools</a>, and
		</li>
		<li>
			<a class="govuk-link" href="https://www.gov.uk/guidance/pupil-referral-units-converting-to-alternative-provision-academies">pupil referral units (PRUs)</a>
		</li>
	</ul>

	<p class="govuk-body-l">
		Although you can invite other people to help with this application, only the chair of governors will be able to submit it.
	</p>

	<div class="govuk-!-margin-2"></div>

	<h2 class="govuk-heading-l">Before you start</h2>

	<p class="govuk-heading-m govuk-!-font-weight-regular">You should:</p>
	<ul class="govuk-list govuk-list--bullet govuk-body-l">
        <li>
            run a <a class="govuk-link" href="https://www.gov.uk/guidance/convert-to-an-academy-information-for-schools/3-prepare-for-conversion#consultation" rel="noopener">formal consultation</a> with your stakeholders
        </li>
        <li>
            complete an Equality Impact Assessment (EIA)
        </li>
	</ul>
    @if (!await ConversionGrantExpiryFeature.IsEnabledAsync())
    {
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                The <a class="govuk-link" href="https://www.gov.uk/guidance/claim-the-academy-conversion-support-grant" rel="noopener">conversion support grant</a> is ending soon<br />
                <p class="govuk-body-xl  govuk-!-margin-bottom-1">The chair of governors must submit the application by 11:55pm Friday 20 December 2024 to be eligible for funding</p>
            </strong>
        </div>
    }

	<a asp-page="YourApplications" class="govuk-button govuk-button--start govuk-!-margin-bottom-8" data-cy="startNowButton">
		Start now
		<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
			<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
		</svg>
	</a>
</div>
