@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			Apply to become an Academy
		</h1>

		<p class="govuk-body-l">
			This form is for local authority maintained schools that want to apply to convert to academy status.
		</p>

		<p class="govuk-body-l">
			There is a separate process for:
		</p>

		<ul class="govuk-list govuk-list--bullet govuk-body-l">
			<li><a href="https://www.gov.uk/government/publications/academy-conversion-application-forms">special schools</a>, and</li>
			<li><a href="https://www.gov.uk/guidance/pupil-referral-units-converting-to-alternative-provision-academies">pupil referral units (PRUs)</a></li>
		</ul>

		<p class="govuk-body-l">
			Although you can invite other people to help with this application, only the chair of governors, or the school’s headteacher acting on their behalf will be able to submit it.
		</p>

		<p class="govuk-body-l">
			You can save your work and come back to it at any time. Ensure you save your work regularly.
		</p>

		<h2 class="govuk-heading-m">Before you start</h2>

		<p class="govuk-body-l">You should:</p>

		<ul class="govuk-list govuk-list--bullet govuk-body-l">
			<li>contact your <a href="https://www.gov.uk/government/organisations/regional-schools-commissioners/about">regional school commisioner</a>'s office</li>
			<li>have the <a asp-page="WhatYouWillNeed">information and evidence you will need to hand</a></li>
		</ul>

		<a asp-page="YourApplications" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
			Start now
			<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
				<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
			</svg>
		</a>

	</div>
