@page
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.Academies.External.Web.Enums

@{
    ViewData["Title"] = "Maintenance";
 }

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="applytobecomemaintenance" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">This service is unavailable</h1>
        <p class="govuk-body">
          The Apply to become an academy service is currently unavailable, but our team are working to fix that.
        </p>
        <p class="govuk-body">
          Please try again later.
        </p>
      </div>
    </div>
  </main>
</div>