@page
@model Dfe.Academies.External.Web.Pages.NewApplicationContributorModel
@{
    ViewData["Title"] = "Apply to become an academy - What you will need";
}

@section BeforeMain
{
    <a asp-page="ApplicationOverview" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">    
    <h1 class="govuk-heading-xl">Apply to become an academy: what you will need</h1>

</div>
