@page
@{
    ViewData["Title"] = "Page not found";
}

<div class="govuk-width-container">
	<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-l">Page not found</h1>
				<p class="govuk-body">
					If you entered a web address, you should check it is correct.
				</p>
				<p class="govuk-body">
					If you followed a link to get here, please email our support team at
					<a class="govuk-link" href="mailto:regionalservices.rg@education.gov.uk">
						regionalservices.rg@education.gov.uk
					</a>
				</p>
				<p class="govuk-body">
					Include:
					<ul class="govuk-list govuk-list--bullet">
						<li> ----</li>
						<li> ----</li>
						<li> ----</li>
					</ul>
				</p>
			</div>
		</div>
</div>