@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="govuk-grid-column-two-thirds">
	<h1 class="govuk-heading-l">Privacy notice for the Apply to become an academy service</h1>
	<p class="govuk-body-m">
		The Department for Education (DfE) owns the Apply to become an academy service and is the
        <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/controllers-and-processors/what-are-controllers-and-processors/" target="_blank">data controller (external website)</a>
        for it.
	</p>
	<br/>
	<p class="govuk-body-m">
		This notice explains why we use your personal information and how.
	</p>

	<h3 class="govuk-heading-m">What data we collect</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>school headteacher details including their name, email address and phone number</li>
		<li>governing body details including the name of the chair, their email address and their phone number</li>
	</ul>
	<p class="govuk-body-m">
		We also use <a href="https://services.signin.education.gov.uk/" target="_blank">the DfE Sign-in service</a> to capture the name, role and email address of the application’s author.
	</p>
	
	<h3 class="govuk-heading-m">Why we use it</h3>
	<p class="govuk-body-m">
		We capture this data so that we can:
	</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>consider a school's application to become an academy</li>
		<li>coordinate teams involved in the conversion process</li>
		<li>contact you about your application</li>
		<li>invite people to take part in user research</li>
		<li>get feedback on the service</li>
	</ul>
	
	<h3 class="govuk-heading-m">Who we share your data with</h3>
	<p class="govuk-body-m">
		We sometimes need to make the information we collect from you available to our partners.
	</p>
    <p class="govuk-body-m">
        These include:
    </p>
	<ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" target="_blank">The Education and Skills Funding Agency</a></li>
        <li><a href="https://www.gov.uk/government/collections/advisory-boards" target="_blank">advisory board</a> members</li>
	</ul>
	<p class="govuk-body-m">
		We also:
	</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>share data with third parties, such as contracted developers</li>
		<li>capture anonymised Google Analytics data</li>
	</ul>
	<p class="govuk-body-m">
		We may share your information with the police or other authorities if required by law.
	</p>

	<h3 class="govuk-heading-m">How long we keep your data</h3>
	<p class="govuk-body-m">
		We will hold any personal data we capture for 2 years.
	</p>
	<p class="govuk-body-m">
		This includes:
	</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>the names of people who have contributed to the application</li>
		<li>their email address</li>
		<li>their phone number</li>
	</ul>
	<p class="govuk-body-m">
		We will hold some other information indefinitely for our records.
	</p>
	<p class="govuk-body-m">
		This includes information about:
	</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>the converting school and how it operates</li>
		<li>the trust</li>
		<li>the conversion process</li>
	</ul>

	<h3 class="govuk-heading-m">Our legal basis for processing your data</h3>
	<p class="govuk-body-m">
		The law says that we can use the data you provide to:
	</p>
	<ul class="govuk-list govuk-list--bullet">
        <li>in the exercise of our functions as a government department</li>
		<li>perform a task in the public interest</li>
	</ul>

	<h3 class="govuk-heading-m">Your rights</h3>
	<p class="govuk-body-m">
		By law you are entitled to:
	</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>ask to see a copy of any information we hold about you - this is called a Subject Access Request (SAR)</li>
		<li>ask us to correct mistakes in your data</li>
		<li>ask us to stop processing it</li>
		<li>ask us to delete it</li>
	</ul>
	<p class="govuk-body-m">
		If you ask us to delete or stop processing data from an ongoing application, we may not be able to continue with it.
	</p>
	<p class="govuk-body-m">
		You may also want to:
	</p>
	<ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" target="_blank">read DfE’s Personal Information Charter</a> for more information on the data it holds, and how to make an SAR</li>
        <li><a href="https://ico.org.uk/" target="_blank">visit the Information Commissioner’s Office website (external website)</a> to learn more about your rights</li>
	</ul>

	<h3 class="govuk-heading-m">Contact us or make a complaint</h3>
	<p class="govuk-body-m">
		If you have any questions about the way we use your data, or if you want to make a complaint, you can:
	</p>
	<ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/contact-dfe" target="_blank">use the DfE contact form</a>, or</li>
		<li>write to our Data Protection Officer (DPO) at</li>
	</ul>
	<p class="govuk-body-m">
		Data Protection Officer<br>
		Department for Education (B2.28)<br>
		7 & 8 Wellington Place<br>
		Wellington Street<br>
		Leeds<br>
		LS1 4AW
	</p>

	<h3 class="govuk-heading-m">Changes to this policy</h3>
	<p class="govuk-body-m">
		We recommend that you come back to this page from time to time as we sometimes need to update this information.
	</p>
	<p class="govuk-body-m">
		Last updated 3 October 2022
	</p>
</div>
