@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="govuk-grid-column-two-thirds">
	<h1 class="govuk-heading-xl">Apply to become an academy privacy notice</h1>
	<p class="govuk-body-l">
		The Department for Education (DfE) owns the Apply to become an academy service. 
		It is the <LINK></LINK> Data Controller (external website) for any information the service collects.
		This notice explains how we use that data.
	</p>

	<h3 class="govuk-heading-m">What data we collect</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>school headteacher details including their name, email address and phone number</li>
		<li>governing body details including the name of the chair, their email address and their phone number</li>
	</ul>
	<p class="govuk-body-l">
		We also use the <LINK></LINK> DfE Sign-in service to capture the name, role and email address of the application’s author.
	</p>
	
	<h3 class="govuk-heading-m">Why we use it</h3>
	<p class="govuk-body-l">
		Please read these Terms of Use (“General Terms”) carefully before using this service (the “Service”).
	</p>
	
	<h3 class="govuk-heading-m">Who we share your data with</h3>
	<p class="govuk-body-l">
		Please read these Terms of Use (“General Terms”) carefully before using this service (the “Service”).
	</p>

</div>
