@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.SchoolOverviewModel
@{
	ViewData["Title"] = "Apply to become an academy - School Overview";
}

@section BeforeMain
{
	<a asp-page="ApplicationOverview" class="govuk-back-link">Back to application overview</a>
}

<div class="govuk-grid-column-two-thirds">
	<h1 class="govuk-heading-xl">@Model.SelectedSchool.SchoolName</h1>

	<p class="govuk-body">
		<strong>Application reference number:</strong>&nbsp;&nbsp;@Model.ApplicationReferenceNumber
	</p>

	<p class="govuk-body govuk-radios__conditional">You must complete each section.<br/>
		You can save your progress as you go.
	</p>

	<p class="govuk-body">You have completed @Model.CompletedSections of @Model.TotalNumberOfSections sections.</p>
	
	@if (!Model.Components.Any())
	{
		<partial name="_ApplicationComponentsStatusPartial" model="Model.Components"/>
	}
	
	<input type="hidden" value="@Model.SelectedSchool.Id"/>
</div>

<partial name="_HiddenFields"/>