@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.WhatIsYourRoleModel
@{
    ViewData["Title"] = "Apply to become an academy - What is your role";
}

@section BeforeMain
{
    <a asp-page="WhatAreYouApplyingToDo" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">What are you applying to do?</h1>
    <div id="divApplyingToDo" class="govuk-form-group @(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
        <form method="post" name="frmApplicationType" novalidate="">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend">What is your role?</legend>
                <partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
                <div class="govuk-form-group">
                    <div class="govuk-radios">
                        @foreach (var roleType in Enum.GetValues(typeof(SchoolRoles)).OfType<SchoolRoles>())
                        {
                            <div class="govuk-radios__item">
                                <input type="radio"
                                       asp-for="SchoolRole"
                                       value="@Convert.ToInt32(roleType)"
                                       id="RoleType@(roleType)"
                                       class="govuk-radios__input"
                                       data-aria-controls="conditional-role-@(roleType.ToString().ToLower())"/>
                                <label for="RoleType@(roleType)" class="govuk-label govuk-radios__label">
                                    @roleType.GetDescription()
                                </label>
                            </div>
                            @if (roleType == SchoolRoles.Other)
                            {
                                <div class="govuk-radios__conditional @(ViewData.ModelState.IsValid ? "govuk-radios__conditional--hidden" : "")" id="conditional-role-other">
                                    <div class="govuk-form-group">
                                        <label for="OtherRoleNotListed" class="govuk-label">What Is your role?</label>
                                        <br/>
                                        <input type="text" asp-for="OtherRoleNotListed" id="OtherRoleNotListed"
                                               class="govuk-input govuk-input--width-20" maxlength="100"
                                               />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </fieldset>
            <br/>
            <input type="submit" value="Save and continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
        </form>
        <p id="divCancelButton">
            <a asp-page="YourApplications">Cancel and return to your applications</a>
        </p>
    </div>
</div>
