@page
@model Dfe.Academies.External.Web.Pages.WhatYouWillNeedModel
@{
    ViewData["Title"] = "What you will need";
}

@section BeforeMain
{
    <div class="govuk-!-padding-2"></div>

    <a href="Index" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">    

    <div class="govuk-!-padding-2"></div>
    <div class="govuk-!-padding-2"></div>

    <h1 class="govuk-heading-xl">Apply to become an academy: what you will need</h1>
    <p class="govuk-body-l">You will be expected to have certain information and evidence when you begin your application.</p>
    
   <div class="govuk-!-padding-2"></div>

    <p class="govuk-heading-m">Information about the trust</p>
 
    <p class="govuk-body-l">You must know whether the school is going to:</p>

        <ul class="govuk-list govuk-list--bullet govuk-body-l">
            <li>join an existing multi-academy trust</li>
            <li>form a new multi-academy trust with other schools</li>
        </ul>

    <p class="govuk-body-l">If you are forming a new trust you will also need:</p>
            
        <ul class="govuk-list govuk-list--bullet govuk-body-l">
                <li>a proposed name for the new trust - this can be changed later</li>
                <li>a reason or reasons for forming a trust</li>
                <li>plans for growing the trust</li>
                <li>plans for improving teaching</li>
                <li>details of any trustees</li>
                <li>details of the chair of the trust</li>
                <li>details of any other schools in the trust</li>
        </ul>

    <div class="govuk-!-padding-2"></div>

    <p class="govuk-heading-m">Finance information</p>

    <p class="govuk-body-l">You will be asked to provide details of</p>

        <ul class="govuk-list govuk-list--bullet govuk-body-l">
            <li>the school's capital and revenue for last year, this year and next year</li>
            <li>any loans</li>
            <li>any leases</li>
            <li>a bank account - either of the school or trust - that the school's support grant can be paid into</li>
        </ul>

   <div class="govuk-!-padding-2"></div>

    <p class="govuk-heading-m">Pupil numbers</p>

    <p class="govuk-body-l">You will be asked to provide projected pupil numbers for the next 3 years.</p>

   <div class="govuk-!-padding-2"></div>

    <p class="govuk-heading-m">Land and building information</p>

    <p class="govuk-body-l">You will need to provide information about the school's buildings and the land they are built on.</p>

    <p class="govuk-body-l">This includes details of:</p>

        <ul class="govuk-list govuk-list--bullet govuk-body-l">
            <li>shared use buildings</li>
            <li>grants</li>
            <li>PFI schemes</li>
            <li>who owns the land</li>
            <li>any building work</li>
        </ul>

    <div class="govuk-!-padding-2"></div>

    <p class="govuk-heading-m">Evidence of permission to convert</p>

    <p class="govuk-body-l">You will be asked to provide evidence that stakeholders are happy for the school to convert to an academy.</p>
   
    <p class="govuk-body-l">This will include:</p>
            <ul class="govuk-list govuk-list--bullet govuk-body-l">
            <li>a resolution passed by the school's governing body</li>
            <li>a letter from the new trust the school is joining, or minutes of their board meeting</li>
            <li>a letter of consent from the diocese if it's a faith school</li>
            <li>a letter of consent from the foundation trust if it's a foundation school</li>
            <li>information about the consultation the school has carried out-or will carry out, if this has not yet happened</li>
        </ul>
</div>