@page
@model Dfe.Academies.External.Web.Pages.WhatIsYourRoleModel
@{
    ViewData["Title"] = "Apply to become an academy - What is your role";
}

@section BeforeMain
{
    <a asp-page="WhatAreYouApplyingToDo" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">What is your role</h1>
    
</div>
