@page
@model Dfe.Academies.External.Web.Pages.WhatYouWillNeedModel
@{
    ViewData["Title"] = "Apply to become an academy - What you will need";
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply to become an academy: what you will need</h1>
    <p class="govuk-body-l">[What you will need content to go here]</p>
</div>
