@page
@model Dfe.Academies.External.Web.Pages.HomeModel
@{
    ViewData["Title"] = "Apply to become an academy - Your applications";
}


<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your applications</h1>
    <p>[List of Apps to go here]</p>
</div>
